

// *{
//     border: 2px solid red;
// }

// th, td {
//     padding-top: 10px;
//     padding-bottom: 20px;
//     padding-left: 30px;
//     padding-right: 40px;
//   }


.kotak{
    background-color: black;
}

.tulisan{
    
    h1{
        font-size: 100px;
        color: rgb(81, 81, 224);
        font-style: italic;
    }
}